*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild

# Back Strengthening original image backups (large files)
app/src/main/res/drawable/original_images_backup/
